
<div class="jumbotron">
  <h1 class="display-5"><%= @project.title %></h1>
  <p class="lead"><%= @project.body %></p>
  <hr class="my-4">
  <div class="row container-fluid m-0 p-0">
    <div class="col-8">
      <% if current_user.user_type == 'Manager'%>
        <%= link_to 'Edit', edit_project_path(@project),class: "btn btn-secondary" %>
      <% end %>
      <%= link_to 'Back', projects_path, class: "btn btn-secondary" %>
      <% if current_user.user_type == 'Manager'%>
        <%= link_to 'Developers', home_project_users_path(:id => @project.id, :user_type => 'Developer'), class: "btn btn-secondary ml-auto" %>
        <%= link_to 'QA\'s', home_project_users_path(:id => @project.id, :user_type => 'QA'), class: "btn btn-secondary" %>
      <% end %>
    </div>
    <div class="text-right col-4">
      <% if current_user.user_type != 'Developer'%>
        <%= link_to 'ADD Bug', new_bug_path(:id => @project.id), class: "btn btn-secondary ml-auto" %>
      <% end %>
      <%= link_to 'Bug List', bugs_path(:id => @project.id), class: "btn btn-secondary ml-auto" %>
    </div>
  </div>
</div>

<% if current_user.user_type == 'Manager'%>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ADD Developer to this Project</th>
        <th>ADD QA to this Project</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @user = User.where(user_type: 'Manager').pluck(:firstname)%>
        <td class="text-center "><%= link_to 'ADD', home_all_dev_path(:id => @project.id, :user_type => 'Developer') ,class: 'btn btn-secondary' %></td>
        <td class="text-center "><%= link_to 'ADD', home_all_dev_path(:id => @project.id, :user_type => 'QA') ,class: 'btn btn-secondary' %></td>
      </tr>
    </tbody>
  </table>
<% end %>

