<%= form_with(model: bug, local: true) do |form| %>
  <% if bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% bug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :title, class:"form-control", placeholder:"Title", autofocus: true, required: true %>
  </div>

  <div class="field form-group">
    <%= form.text_field :description, class:"form-control", placeholder:"Description"  %>
  </div>

  <div class="field form-group">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
    <%= form.label :bugtype, class:"ml-5" %>
    <%= form.select :bugtype, options_for_select(%w[Bug Feature])%>
    <%= form.label :status, class:"ml-5" %>
    <%= form.select :status, options_for_select(%w[New Started Completed])%>
  </div>

  <div class="field form-group">
    <%= form.label :image %>
    <%= form.file_field :image%>
  </div>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :bug_user_id, value: current_user.id, class:"form-control", type: :hidden%>
  </div>

  <div class="field form-group">
    <%= form.number_field :project_id, id: :bug_project_id, value: @project_id, class:"form-control", type: :hidden%>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
